.vs/
xnyu-debug-studio/xnyu-debug-studio/obj/
xnyu-debug-studio/xnyu-debug-studio/bin/
xnyu-studio-updater/xnyu-studio-updater/.vs/
xnyu-studio-updater/xnyu-studio-updater/xnyu-studio-updater/obj/
xnyu-studio-updater/xnyu-studio-updater/xnyu-studio-updater/bin/
